 <!doctyle html>
 <html ng-app="app" ng-csp>
	 <head>
	 	<link rel="stylesheet" type="text/css" href="style.css">
	 	<script src="/libs/angular.min.js"></script>
	 	<script src="/modules/chrome.media.js"></script>	 	
	 	<script src="app.js"></script>
	 </head> 

	 <body>
	 	<div ng-app id="player">
		 		<aside ng-controller="FileListController">
		 			<input type="text" ng-model="listFilter" placeholder="Filter..." speech x-webkit-speech>
					<div id="fileList">
						<ul>
							<!-- List the libraries -->
							<li 
								ng-click="loadAndPlay(node)" 
								ng-repeat="node in tree | filter:{name: listFilter}"
								ng-class="{active: isCurrentlyPlayingFile(node)}">
								{{node.name}}
							</li>
						</ul>
					</div>
					<div id="options">
						<label for="repeat">Repeat</label>
						<input id="repeat" type="checkbox" ng-model="repeat">

						<label for="autoplay">Autoplay</label>
						<input id="autoplay" type="checkbox" ng-model="autoplay">
					</div>
				</aside>

				<section ng-controller="PlayerController">
		      		<audio ng-show="currentAudio" controls src="{{currentAudio}}"></audio>
		      		<video ng-show="currentVideo" controls src="{{currentVideo}}"></video>
		      		<img ng-show="currentImage" src="{{currentImage}}">
				</section>
			</div>
	 </body>
  </html>