 <!doctyle html>
 <html ng-app="app" ng-csp>
	 <head>
	 	<link rel="stylesheet" type="text/css" href="style.css">
	 	<script src="/libs/angular.min.js"></script>	 	
	 	<script src="app.js"></script>
	 </head> 

	 <body>
	 	<div ng-app id="player">
		 		<aside ng-controller="FileListController">
					<ul>
						<!-- List the libraries -->
						<li ng-click="loadAndPlay(node)" ng-repeat="node in tree">
							{{node.name}}
						</li>
					</ul>
				</aside>

				<section ng-controller="PlayerController">
		      		<audio ng-show="currentAudio" controls src="{{currentAudio}}"></audio>
		      		<video ng-show="currentVideo" controls src="{{currentVideo}}"></video>
				</section>
			</div>
	 </body>
  </html>