#player{
	display: flex;
	height: 100%;
	background: #ddd;	
}
  
#player aside{
    background: #ddd;
    flex: 1;
    overflow: auto;
}
#player aside ul{

}
#player section{
	display: flex;
    background: #111;
    flex: 3;
}

video{
	width: 100%;
	height: auto;
	margin: auto;
}

audio{
	width: 100%;
	height: 100%;	
}