ul{
	padding: 0;
	margin: 0;
}
#player{
	display: flex;
	height: 100%;
	background: #ddd;	
}
  
#player aside{
    background: #FAF9F9;
    flex: 1;
}
#player aside #fileList{
	overflow-x: hidden; 
    overflow-y: auto;
	text-overflow: ellipsis

	background: #FAF9F9;
	list-style-type: none;
	padding: 0;	
	height: -webkit-calc(100% - 4em);
}

#player aside #options{
	
}

#player aside ul li{
	display: block;
	padding: 0.2em 1em;
	cursor: pointer;
}

#player aside input[type="text"]{
	width: 100%;
}

#player aside ul li.active{
	background-image: -webkit-linear-gradient(bottom, rgb(237,237,237) 0%, #D8DEE4 50%, rgb(237,237,237) 86%);
	color: #000;
}

#player section{
	display: flex;
    background: #111;
    flex: 3;
}

video{
	width: 100%;
	height: auto;
	margin: auto;
}

audio{
	width: 100%;
	height: 100%;	
}